@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-overlay-image {
    background-image: url('../src/assets/Rectangle\ 4287.png');
}

.pie {
    width: 400px,
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
    /* Chrome/Safari/Webkit */
}

::-webkit-scrollbar-thumb {
    background: transparent;
    /* Chrome/Safari/Webkit */
}